<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
 initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/fint-awesome.min.css" rel="stylesheet" />
    <link href="~/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/css/morr is.css" rel="stylesheet" />
    <link href="~/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/css/timeline.css" rel="stylesheet" />
    
    <script src="~/js/jquery.min.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Account Managment</a>
        </div>
        <!-- /.navbar-header -->



        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>Shahad Amin</strong>
                                <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div>Hello Howre you?</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div>hello</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <!-- /link to all messages -->
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>




            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->




        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/Home/Index"><i class="glyphicon glyphicon-home"></i> Main Page</a>           
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-globe"></i> Notifications<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/Notification/Add"><i class="glyphicon glyphicon-user"></i> Add Notification</a>
                            </li>
                            <li>
                                <a href="/Notification/Viewall"><i class="fa fa-tasks fa-fw"></i> See All NOtifications</a>
                            </li>
                            <li>
                                <a href="/Notification/Viewall"><i class="fa fa-tasks fa-fw"></i> See All Loans</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/Chart/Employee"><i class="glyphicon glyphicon-user"></i> Employee Salaries</a>
                            </li>
                            <li>
                                <a href="/Chart/Stock"><i class="glyphicon glyphicon-shopping-cart"></i> Stock</a>
                            </li>
                            <li>
                                <a href="/Chart/Inventory"><i class="glyphicon glyphicon-hdd"></i> Inventory</a>
                            </li>
                        </ul>                        
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i> Graphs<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/Graph/Employee"><i class="glyphicon glyphicon-user"></i> Employee Saleries</a>
                            </li>
                           
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i>Details<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/Detail/EmployeeD"><i class="glyphicon glyphicon-user"></i> Employee</a>
                            </li>
                            <li>
                                <a href="/Detail/StockD"><i class="glyphicon glyphicon-shopping-cart"></i> Stock</a>
                            </li>
                            <li>
                                <a href="/Detail/InventoryD"><i class="glyphicon glyphicon-hdd"></i> Inventory</a>
                            </li>
                            <li>
                                <a href="/Detail/LoanD"><i class="glyphicon glyphicon-usd"></i> Loan</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i>Edit<span class="fa arrow"></span></a> 
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/Edit/Employee"><i class="glyphicon glyphicon-user"></i> Employee</a>
                            </li>
                            <li>
                                <a href="/Edit/Stock"><i class="glyphicon glyphicon-shopping-cart"></i> Stock</a>
                            </li>
                            <li>
                                <a href="/Edit/Inventory"><i class="glyphicon glyphicon-hdd"></i> Inventory</a>
                            </li>
                        </ul>                       
                        <!-- /.nav-second-level -->
                    </li>
                    
                    



                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    @RenderBody()

    
    <script src="~/js/bootstrap.js"></script>
    
    <script type="text/javascript" src="~/js/adr.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/js/metisMenu.min.js"></script>
    <script src="~/js/sb-admin-2.js"></script>
</body>
</html>
