@{
    ViewBag.Title = "Dealers";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dealer
                            <a href="/Employees/AddNew" class="btn btn-primary btn-lg" style="float:right;">Dealer</a>

                        </h1>
                    </div>

                    
                    
                </div>
                
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Employee Records
                        </div>
                        <!-- /.panel-heading -->
                         <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Salary</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <tr class="even gradeC">
                                            <td>1</td>
                                            <td>Ali</td>
                                            <td>Senior worker</td>
                                            <td class="center">20000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td>2</td>
                                             <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td>3</td>
                                             <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td>4</td>
                                             <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="even gradeA">
                                            <td>5</td>
                                             <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>6</td>
                                             <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>7</td>
                                            <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>8</td>
                                         <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>9</td>
                                           <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>10</td>
                                         <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>11</td>
                                     <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr class="gradeA">
                                            <td>12</td>
                                         <td>any Employee</td>
                                            <td>any position</td>
                                            <td class="center">7000</td>
                                            <td class="center">
                                                <a href="/Inventory/AddNew" class="btn btn-primary btn-circle" ><i class="fa fa-pencil-square-o"></i></a>
                                                <a href="/Inventory/index" class="btn btn-danger btn-circle" ><i class="fa fa-trash"></i></a>
                                            </td>

                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
           
        </div>