@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layouta.cshtml";
}
<!DOCTYPE html>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <script src="~/js/rapheal-min.js"></script>
    <script src="~/js/Chart.js"></script>
    <script src="~/js/Chart.min.js"></script>
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <div id="wrapper">

        <!-- Navigation -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12 center-block">
                    <h1 class="page-header center-block">DashBoard</h1>
                    
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>Notifications</div>
                                </div>
                            </div>
                        </div>
                        <a href="/Notification/Viewall">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div>Employee Accounts</div>
                                </div>
                            </div>
                        </div>
                        <a href="/Detail/EmployeeD">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div>Stock Accounts</div>
                                </div>
                            </div>
                        </div>
                        <a href="/Detail/StockD">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div>  Inventory Accounts</div>
                                </div>
                            </div>
                        </div>
                        <a href="/Detail/InventoryD">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Current Accounts Status
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Delays
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li id="minute">
                                        <a>Minute</a>
                                    </li>
                                    <li id="hour">
                                        <a>Hour</a>
                                    </li>
                                    <li id="day">
                                        <a>Day</a>
                                    </li>
                                    <li id="week">
                                        <a>Week</a>
                                    </li>
                                    <li id="month">
                                        <a>Month</a>
                                    </li>
                                    <li id="year">
                                        <a>Year</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="chartss">
                            
                        </div>
                        <script>
                            function clicking0()
                            {
                                $("#chartss").load("/Account/Chart/0");
                               
                            }
                            function clicking1() {
                                $("#chartss").load("/Account/Chart/1");
                            }
                            function clicking2() {
                                $("#chartss").load("/Account/Chart/2");
                            }
                            function clicking3() {
                                $("#chartss").load("/Account/Chart/3");
                            }
                            function clicking4() {
                                $("#chartss").load("/Account/Chart/4");
                            }
                            function clicking5() {
                                $("#chartss").load("/Account/Chart/5");
                            }
                            var hour = document.getElementById("hour");
                            var day = document.getElementById("day");
                            var week = document.getElementById("week");
                            var month = document.getElementById("month");
                            var year = document.getElementById("year");
                            var min = document.getElementById("minute");
                            hour.onclick = clicking0;
                            day.onclick = clicking1;
                            week.onclick = clicking2;
                            month.onclick = clicking3;
                            year.onclick = clicking4;
                            min.onclick = clicking5;
                        </script>
                            
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                    
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                @foreach (var x in Model)
                                {
                                    <a href="/Notification/Viewall" class="list-group-item">
                                        <i class="fa fa-tasks fa-fw small pull-left"></i> @x.type
                                        <i class="pull-right text-muted small">
                                            @x.date.ToString("hh:mm tt  dd/MM/yyyy")
                                        </i>
                                    </a>
                                }

                                
                                
                            </div>
                            <!-- /.list-group -->
                            <a href="/Notification/Viewall" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    
                    
                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    
